<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.mapper.OrderItemMapper">

    <select id="getListByOrderId" resultType="com.web.pojo.OrderItem">
        SELECT * FROM order_items WHERE order_id = #{orderId} ORDER BY id ASC
    </select>

    <insert id="insertBatch">
        INSERT INTO order_items(order_id, product_id, sku_id, product_name, price, quantity, total_amount, product_image, create_time, update_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.orderId}, #{item.productId}, #{item.skuId}, #{item.productName}, #{item.price}, #{item.quantity}, #{item.totalAmount}, #{item.productImage}, NOW(), NOW())
        </foreach>
    </insert>

</mapper>
